@font-face {
  font-family: 'AvenirLT';
  src: url("../fonts/AvenirLT-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/AvenirLT-Medium.woff") format('woff'), url("../fonts/AvenirLT-Medium.ttf") format('truetype'), url("../fonts/AvenirLT-Medium.svg#AvenirLT-Medium") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLT';
  src: url("../fonts/AvenirLT-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/AvenirLT-Book.woff") format('woff'), url("../fonts/AvenirLT-Book.ttf") format('truetype'), url("../fonts/AvenirLT-Book.svg#AvenirLT-Book") format('svg');
  font-weight: 200;
  font-style: normal;
}
