// Text

b {
	font-weight: 400;
}

a {
	text-decoration: none;
	font-weight: 400;
}


// Layout

.page-wrapper {
	width: 94%;
	max-width: 928px;
	margin: 24px auto 90px;
	position: relative;

	@include breakpoint(tablet) {
		margin: 32px auto;
	}
}